<% wrap_layout :layout do %>
<h1><%= current_article.title %></h1>
<h5>Posted <%= current_article.date.strftime('%B %e, %Y') %></h5>
<%= yield %>
<hr>
<div><strong>Tags:</strong>
	<% current_article.tags.each do |tag| %>
	<a href="/tags/<%= tag.downcase %>.html" class="tag"><%= tag %></a>
	<% end %>
</div>
<% end %>
