<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <%= stylesheet_link_tag "all" %>
  <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
  <title>ProdIssues<%= ' - ' + current_article.title unless current_article.nil? %></title>
  <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
</head>
<body>

  <section class="wrap">
    <%= partial "partials/header" %>
    <article class="content">
      <%= yield %>
    </article>
    <aside class="sidebar">
      <h5>Recent Posts</h5>
    </aside>
  </section>

  <%= partial "partials/footer" %>
</body>
</html>
