<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <%= stylesheet_link_tag "all" %>
    <!-- <link href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700' 
  rel='stylesheet' type='text/css'>-->
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <title>ProdIssues<%= ' - ' + current_article.title unless current_article.nil? %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
  </head>
  <body>
    <%= partial "partials/nav" %>
    <div id="main" role="main">
      <%= yield %>
    </div>
    <%= partial "partials/footer" %>
  </body>
</html>
